:80 {
    @api path /api/* /sanctum/* /storage/*
    handle @api {
        root * /var/www/html/public
        php_fastcgi 127.0.0.1:9000
        file_server
    }

    # 2. Tráfico de WebSockets (Reverb)
    @reverb path /app/* /apps/*
    handle @reverb {
        reverse_proxy social_reverb:8080
    }

    # 3. Todo lo demás va al Frontend (React / Vite)
    handle {
        reverse_proxy social_frontend:5173
    }
}