crewhub.es {
    handle /app/* {
        reverse_proxy social_reverb:8080
    }

    # API de Laravel
    handle /api/* {
        reverse_proxy social_backend:8000
    }
    
    # Cookies de Autenticación
    handle /sanctum/* {
        reverse_proxy social_backend:8000
    }

    # React (Todo lo demás)
    handle /* {
        reverse_proxy social_frontend:5173
    }
}